<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mozilla.telemetry.glean" >
    <application>
        <activity android:name=".debug.GleanDebugActivity"
            android:launchMode="singleInstance"
            android:exported="true" />

        <service
            android:name="androidx.work.multiprocess.RemoteWorkerService"
            android:exported="true"
            android:process=":gleanUploadWorker" />
    </application>
</manifest>
