libraryVersion: 0.0.1-TESTING3
groupId: org.mozilla.telemetry
projects:
  glean-core:
    path: glean-core/android
    artifactId: glean
    publications:
      - name: glean
        type: aar
      - name: glean-forUnitTests
        type: jar
    description: 'The Glean SDK is a modern approach for a Telemetry library and is part of the Glean project.'
  glean-sample-app:
    path: samples/android/app
    artifactId: glean-core-sample-app
    description: 'An app demoing how to use the Glean library to collect and send telemetry data.'
