docs/book
docs/appendix/changelog.md
target
.cargo

# Android stuff.
*.iml
.gradle
local.properties
.idea
build
captures
.externalNativeBuild

# iOS stuff.
xcuserdata
raw_xcode*log
/glean-core/ios/Glean/Generated
/glean-core/ios/Pipfile
/glean-core/ios/Pipfile.lock
/glean-core/ios/.venv

# Carthage build artifacts
Cartfile.resolved
Carthage

# OS stuff
.DS_Store
*.dSYM

# Python stuff
*.egg-info
dist/

# C# stuff
*.suo
*.user
*.pubxml
/glean-core/csharp/*/bin/
/glean-core/csharp/*/obj/
/glean-core/csharp/.vs/
# The 'build' dir is generally disallowed,
# but we need to allow it here to enable our
# csharp custom task.
!/glean-core/csharp/Glean/build/
/glean-core/csharp/Glean/.venv/
/samples/csharp/bin/
/samples/csharp/obj/
/samples/csharp/.vs/
/samples/csharp/.venv/

# local stuff
data/
glean-core/data
glean_app*
!glean_app.c

samples/ios/app/.venv/
.mypy_cache/
.coverage
htmlcov/
*.log

__pycache__
*.py[cod]
.Python
