docs/book
docs/appendix/changelog.md
target
.cargo

# Android stuff.
*.iml
.gradle
local.properties
.idea
build
captures
.externalNativeBuild

# iOS stuff.
xcuserdata
raw_xcode*log
/glean-core/ios/Glean/Generated
/glean-core/ios/Pipfile
/glean-core/ios/Pipfile.lock
/glean-core/ios/.venv

# Carthage build artifacts
Cartfile.resolved
Carthage

# OS stuff
.DS_Store
*.dSYM

# local stuff
data/
glean-core/data
glean_app*
!glean_app.c

samples/ios/app/.venv/
.mypy_cache/
.coverage
htmlcov/
*.log
