[licenses]
allow = [
    "MPL-2.0",
    "Apache-2.0",
    "MIT",
    "BSD-2-Clause",
    "Zlib",
    "Unicode-3.0",
]

[bans]
# Avoid duplications.
# Exceptions defined below with a reason.
multiple-versions = "deny"

skip = [
    # bitflags 1.3.2 is a dependency of lmdb-rkv,
    # with bitflags in use by others.
    # This is overriden in m-c
    { name = "bitflags", version = "1.3.2" },
]

# Avoid certain crates
deny = [
  { name = "windows", version = "0.48.0" },
]
