version: 2.1

commands:
  setup-rust-toolchain:
    parameters:
      rust-version:
        type: string
        default: "stable"
    steps:
      - run:
          name: Setup Rust toolchain
          command: |
            rustup install <<parameters.rust-version>>
            rustup default <<parameters.rust-version>>
            rustc --version
  test-setup:
    parameters:
      rust-version:
        type: string
        default: "stable"
    steps:
      - checkout
      - setup-rust-toolchain:
          rust-version: <<parameters.rust-version>>
  rust-tests:
    parameters:
      rust-version:
        type: string
        default: "stable"
    steps:
      - test-setup:
          rust-version: <<parameters.rust-version>>
      - run:
          name: Test
          command: cargo test --all --verbose

  install-rustup:
    steps:
      - run:
          name: Installing rustup
          command: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - run:
          name: Setup custom environment variables
          command: |
              echo "export PATH=$HOME/.cargo/bin:$PATH" >> $BASH_ENV

  install-android-targets:
    steps:
      - run:
          command: |
            rustup target add aarch64-linux-android
            rustup target add armv7-linux-androideabi
            rustup target add i686-linux-android
            rustup target add x86_64-linux-android

  android-setup:
    steps:
      - install-rustup
      - install-android-targets
      - test-setup:
          rust-version: stable
      - run:
          name: Install missing Android SDK
          command: |
              sdkmanager 'build-tools;21.0.0'
      # The Debian container in use is shipping libtinfo.so.6, but the Clang deployed in the NDK requires v5.
      # We hack around that by symlinking the new to the old version, they seem to be mostly compatible.
      - run:
          name: "HACK: Fix up missing libtinfo.so.5"
          command: |
              sudo ln -s /lib/x86_64-linux-gnu/libtinfo.so.6 /lib/x86_64-linux-gnu/libtinfo.so.5

jobs:
  Check Swift formatting:
    macos:
      xcode: "11.1.0"
    steps:
      - checkout
      - run:
          name: Install lint tools
          command: brew install swiftlint swiftformat
      - run:
          name: Run swiftlint
          command: swiftlint --strict
      - run:
          name: Run swiftformat
          command: |
              swiftformat glean-core/ios samples/ios --swiftversion 5 --verbose
              git diff --exit-code HEAD -- glean-core/ios samples/ios
  Check Rust formatting:
    docker:
      - image: circleci/rust:latest
    steps:
      - checkout
      - run: rustup component add rustfmt
      - run: rustfmt --version
      - run: cargo fmt -- --check
  Lint Rust with clippy:
    docker:
      - image: circleci/rust:latest
    steps:
      - checkout
      - run: rustup component add clippy
      - run: cargo clippy --version
      - run: cargo clippy --all --all-targets --all-features -- -D warnings
  Rust tests - stable:
    docker:
      - image: circleci/rust:latest
    resource_class: "medium+"
    steps:
      - rust-tests

  Rust tests - beta:
    docker:
      - image: circleci/rust:latest
    steps:
      - rust-tests:
          rust-version: "beta"
  Rust tests - minimum version:
    docker:
      - image: circleci/rust:latest
    resource_class: "medium+"
    steps:
      - rust-tests:
          rust-version: "1.34.2"
  Rust FFI header check:
    docker:
      - image: circleci/rust:latest
    steps:
      - test-setup:
          rust-version: "nightly"
      - run:
          name: FFI header consistency check
          command: |
            wget https://github.com/eqrion/cbindgen/releases/download/v0.9.1/cbindgen
            mv cbindgen /usr/local/cargo/bin/cbindgen
            chmod +x /usr/local/cargo/bin/cbindgen
            make cbindgen
            if ! git diff --exit-code HEAD -- glean-core/ios/Glean/GleanFfi.h; then
              echo "=================================================="
              echo "GleanFfi.h is different from what's stored in git."
              echo "Please regenerate the file using:"
              echo "    make cbindgen"
              echo "Commit the modified file and push."
              echo "=================================================="
              exit 1
            fi
  C tests:
    docker:
      - image: circleci/rust:latest
    steps:
      - test-setup:
          rust-version: stable
      - run: cargo build --release
      # Just a basic smoke test for now to make sure it compiles and runs
      # without returning an error
      - run: |
          cd glean-core/ffi/examples
          make
          ./glean_app

  Rust code coverage:
    docker:
      - image: circleci/rust:latest
    # We have to use a machine with more RAM for tests so we don't run out of memory.
    resource_class: "large"
    steps:
      - run:
          name: Check skip condition
          command: |
            if git log -1 "$CIRCLE_SHA1" | grep -q '\[doc only\]'; then
                echo "Skipping this step. Last commit was tagged to not require Android tests."
                circleci-agent step halt
            fi
      - run:
          name: Setup custom environment variables
          command: |
              echo "export CARGO_INCREMENTAL=0" >> $BASH_ENV
              echo "export RUSTFLAGS='-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zno-landing-pads'" >> $BASH_ENV
      - rust-tests:
          rust-version: "nightly"
      - run:
          name: Create and upload code coverage
          command: |
              curl -L https://github.com/mozilla/grcov/releases/download/v0.5.4/grcov-linux-x86_64.tar.bz2 | tar jxf -
              curl -L https://codecov.io/bash > codecov.sh
              chmod +x codecov.sh
              zip -0 ccov.zip `find . \( -name "glean*.gc*" \) -print`
              ./grcov ccov.zip -s . -t lcov --llvm --branch --ignore-not-existing --ignore "/*" --ignore "glean-core/ffi/*" -o lcov.info
              CODECOV_CMD="./codecov.sh -f lcov.info"
              $CODECOV_CMD || (sleep 5 && $CODECOV_CMD) || (sleep 5 && $CODECOV_CMD)
  iOS build and test:
    macos:
      xcode: "11.1.0"
    steps:
      - install-rustup
      - setup-rust-toolchain
      - checkout
      - restore_cache:
          name: Restore rubygems cache
          key: swift-docs-gems-v3
      - run:
          name: Install jazzy
          command: gem install jazzy
      - save_cache:
          name: Save rubygems cache
          # NEEDS TO CHANGE WHEN JAZZY IS UPDATED
          key: swift-docs-gems-v3
          paths:
            - ~/.gem/ruby/2.6.4
      - run:
          name: Setup build environment
          command: |
            rustup target add aarch64-apple-ios x86_64-apple-ios
            bin/bootstrap.sh
            # See https://circleci.com/docs/2.0/testing-ios/#pre-starting-the-simulator
            xcrun instruments -w "iPhone 8 (13.0) [" || true
      - run:
          name: Run XCode build, tests and generate documentation
          command: |
              bash bin/run-ios-build.sh
              bash bin/run-ios-tests.sh
              bash bin/build-swift-docs.sh
      - store_artifacts:
          path: raw_xcodebuild.log
      - store_artifacts:
          path: raw_xcodetest.log
      - persist_to_workspace:
          root: build/
          paths: docs/swift
      - run:
          name: Create and upload code coverage
          command: |
              curl -L https://codecov.io/bash > codecov.sh
              chmod +x codecov.sh
              ./codecov.sh -J '^Glean$' -X gcov -X coveragepy

  Lint Android with ktlint and detekt:
    docker:
      - image: circleci/android:api-28-ndk
    steps:
      - checkout
      - run: ./gradlew --no-daemon lint
      - run: ./gradlew --no-daemon ktlint
      - run: ./gradlew --no-daemon detekt

  Android tests:
    docker:
      - image: circleci/android:api-28-ndk
    steps:
      - android-setup
      - run:
          name: Check skip condition
          command: |
            if git log -1 "$CIRCLE_SHA1" | grep -q '\[doc only\]'; then
                echo "Skipping this step. Last commit was tagged to not require Android tests."
                circleci-agent step halt
            fi
      - run:
          name: Android tests
          command: ./gradlew --no-daemon test
          environment:
            GRADLE_OPTS: -Xmx2048m
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            mkdir -p ~/test-results/tests/
            cp -a glean-core/android/build/reports/tests ~/test-results/
            find glean-core/android/build -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_artifacts:
          path: ~/test-results/tests
      - store_test_results:
          path: ~/test-results
      - run:
          name: Upload Kotlin code coverage
          command: |
              curl -L https://codecov.io/bash > codecov.sh;
              chmod +x codecov.sh;
              CODECOV_CMD="./codecov.sh -f glean-core/android/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml"
              $CODECOV_CMD || (sleep 5 && $CODECOV_CMD) || (sleep 5 && $CODECOV_CMD)

  macOS release build:
    macos:
      xcode: "11.1.0"
    steps:
      - install-rustup
      - setup-rust-toolchain
      - checkout
      - run:
          name: Build for release
          command: |
              cargo build --release --all
      - persist_to_workspace:
          root: .
          paths: target/release/libglean_ffi.dylib

  android-packaging:
    docker:
      - image: circleci/android:api-28-ndk
    steps:
      - android-setup
      - run:
          name: Install packaging dependencies
          command: |
            sudo apt update
            sudo apt install -y gcc-mingw-w64 llvm-7
            # We need this tool under its common name
            sudo ln -s /usr/lib/llvm-7/bin/dsymutil /usr/bin/dsymutil
      - run:
          name: Add additional targets
          command: |
            rustup target add x86_64-pc-windows-gnu x86_64-apple-darwin
            # A hack to force skipping the linking step (which will fail due to the missing macOS SDK).
            # We re-use the dylib generated in the "macOS release build" step.
            mkdir -p .cargo
            echo '[target.x86_64-apple-darwin]' >> .cargo/config
            echo 'linker = "true"' >> .cargo/config
      - run:
          name: Fix broken mingw toolchain
          command: |
            # Fix broken libraries
            # https://github.com/rust-lang/rust/issues/47048
            # https://github.com/rust-lang/rust/issues/49078
            # https://wiki.archlinux.org/index.php/Rust#Windows
            for lib in crt2.o dllcrt2.o libmsvcrt.a; do cp -v /usr/x86_64-w64-mingw32/lib/$lib ~/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-pc-windows-gnu/lib/; done
      - attach_workspace:
          at: macos
      - run:
          name: Put macOS build in place
          command: |
            mkdir -p target/x86_64-apple-darwin/release
            cp -a macos/target/release/libglean_ffi.dylib target/x86_64-apple-darwin/release
      - run:
          name: Package a release artifact
          command: |
            export ORG_GRADLE_PROJECT_RUST_ANDROID_GRADLE_TARGET_X86_64_PC_WINDOWS_GNU_RUSTFLAGS="-C linker=x86_64-w64-mingw32-gcc"
            export ORG_GRADLE_PROJECT_RUST_ANDROID_GRADLE_TARGET_X86_64_PC_WINDOWS_GNU_AR=x86_64-w64-mingw32-ar
            export ORG_GRADLE_PROJECT_RUST_ANDROID_GRADLE_TARGET_X86_64_PC_WINDOWS_GNU_CC=x86_64-w64-mingw32-gcc

            echo "rust.targets=arm,arm64,x86_64,x86,linux-x86-64,win32-x86-64-gnu,darwin" > local.properties

            ./gradlew --no-daemon assembleRelease
            ./gradlew --no-daemon publish
            ./gradlew --no-daemon checkMavenArtifacts
          environment:
            GRADLE_OPTS: -Xmx2048m
      - store_artifacts:
          path: build/maven
      - persist_to_workspace:
          root: .
          paths: build

  android-release:
    docker:
      - image: circleci/rust:latest
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Get ghr release tool
          command: |
              GHR=ghr_v0.13.0_linux_amd64
              GHR_SHA256=c428627270ae26e206cb526cb8c7bdfba475dd278f6691ddaf863355adadfa13
              curl -sfSL --retry 5 --retry-delay 10 -O "https://github.com/tcnksm/ghr/releases/download/v0.13.0/${GHR}.tar.gz"
              echo "${GHR_SHA256} *${GHR}.tar.gz" | shasum -a 256 -c -
              tar -xf "${GHR}.tar.gz"
              cp ./${GHR}/ghr ghr
      - run:
          name: Publish a release on GitHub
          command: |
            VERSION="${CIRCLE_TAG}"
            RAWVERSION="${VERSION#v}"
            VERSIONFILE=.buildconfig.yml
            if ! grep -q "libraryVersion: ${RAWVERSION}" "${VERSIONFILE}"; then
               echo "=================================================="
               echo "${VERSIONFILE} does not contain the expected tagged version ${RAWVERSION}"
               echo "Instead it has:"
               grep "libraryVersion:" "${VERSIONFILE}"
               echo "Ensure the tag corresponds to the version in ${VERSIONFILE}"
               echo "=================================================="
               exit 1
            fi

            PKGDIR=./build/package
            # Collect all files into a single directory
            mkdir -p ${PKGDIR}
            find ./build/maven/org/mozilla/telemetry/ \( -name "*.aar*" -or -name "*.jar*" -or -name "*.pom*" \) \
              -exec cp {} ${PKGDIR} \;

            # Bundle all release files up into a single zip file
            ZIPFILE=glean-${VERSION}.zip
            zip --junk-paths ${ZIPFILE} ${PKGDIR}/*
            mv ${ZIPFILE} ${PKGDIR}

            # Upload to GitHub
            ./ghr -replace ${VERSION} ${PKGDIR}

  # via https://circleci.com/blog/deploying-documentation-to-github-pages-with-continuous-integration/
  Generate Rust documentation:
    docker:
      - image: circleci/rust:latest
    steps:
      - checkout
      - run:
          name: Version information
          command: rustc --version; cargo --version; rustup --version
      - run:
          name: Install mdbook
          command: |
              wget https://github.com/rust-lang-nursery/mdBook/releases/download/v0.3.0/mdbook-v0.3.0-x86_64-unknown-linux-gnu.tar.gz
              tar -xvf mdbook-v0.3.0-x86_64-unknown-linux-gnu.tar.gz
              mv mdbook /usr/local/cargo/bin/mdbook
      - run:
          name: Build Rust documentation
          command: bin/build-rust-docs.sh
      - persist_to_workspace:
          root: build/
          paths:
            - docs/book
            - docs/docs
            - docs/index.html

  Generate Kotlin documentation:
    docker:
      - image: circleci/android:api-28-ndk
    steps:
      - android-setup
      - run:
          name: Build Kotlin documentation
          command: ./gradlew --no-daemon docs
      - persist_to_workspace:
          root: build/
          paths: docs/javadoc

  docs-linkcheck:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run:
          name: Install linkchecker
          command: sudo apt install linkchecker
      - attach_workspace:
          at: build/
      - run:
          name: Check internal documentation links
          command: linkchecker --ignore-url javadoc --ignore-url docs/glean_core build/docs

  docs-deploy:
    docker:
      - image: node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: build/
      - run:
          name: Disable jekyll builds
          command: touch build/docs/.nojekyll
      - run:
          name: Show contents
          command: ls -R
      # Needed for write access to the GitHub repository;
      # see https://circleci.com/docs/2.0/gh-bb-integration/#deployment-keys-and-user-keys
      - add_ssh_keys:
          fingerprints:
            - "84:e6:13:7e:94:8d:e2:bf:4f:93:1f:d9:52:80:bb:2c"
      # The gh-pages npm package can be used to push a directory to a git branch;
      # see https://www.npmjs.com/package/gh-pages
      - run:
          name: Deploy docs to gh-pages branch
          command: |
            git config user.email "jrediger@mozilla.com"
            git config user.name "CircleCI docs-deploy job"
            npm install -g --silent gh-pages@2.0.1
            gh-pages --dotfiles --message "[skip ci] Updates" --dist build/docs

workflows:
  version: 2
  check-formating:
    jobs:
      - Check Rust formatting
      - Check Swift formatting
  lint:
    jobs:
      - Lint Rust with clippy
      - Lint Android with ktlint and detekt
      - Rust FFI header check
  ci:
    jobs:
      - Rust tests - stable
      # FIXME: Disabled due to failing to often, bug 1574424
      #- Rust tests - beta
      - Rust tests - minimum version
      - Android tests
      - C tests
      - iOS build and test
      - Generate Rust documentation
      - Generate Kotlin documentation
      - docs-linkcheck:
          requires:
            - Generate Rust documentation
            - Generate Kotlin documentation
            - iOS build and test
      - docs-deploy:
          requires:
            - docs-linkcheck
          filters:
            branches:
              only: master
  coverage:
    jobs:
      - Rust code coverage

  release:
    jobs:
      - Android tests:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - macOS release build:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - android-packaging:
          requires:
            - Android tests
            - macOS release build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - android-release:
          requires:
            - android-packaging
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
