coverage[toml]==7.2.2
jsonschema==3.2.0
mypy==1.4.1
pdoc3==0.11.6
pip
pytest-localserver==0.10.0
MarkupSafe==2.0.1
pytest-runner==5.3.2
pytest==8.4.1
ruff==0.7.2
semver==2.13.0
setuptools-git==1.2
twine==6.0.1
wheel==0.46.3
maturin==1.12.0
patchelf>=0.17; sys_platform == "linux"
