auditwheel==3.3.1
black==20.8b1
cffi==1.14.4
coverage==5.4
flake8==3.8.4
flake8-bugbear==20.11.1
jsonschema==3.2.0
mypy==0.800
pdoc3==0.9.2
pip
pytest-localserver==0.5.0
pytest-runner==5.2
pytest==6.2.2
setuptools-git==1.2
twine==3.3.0
wheel==0.36.1
