:root {
    --red-10: #DC3E42;
    --lime-10: #93C926;
    --amber-10: #FFA01C;
    --indigo-10: #3358D4;
    --gray-1: #FCFCFC;
    --gray-4: #E8E8E8;
    --gray-11: #646464;
    --gray-12: #202020;
}

@media (prefers-color-scheme: dark) {
    :root {
        --red-10: #EC5D5E;
        --lime-10: #CF0;
        --amber-10: #FFCB47;
        --indigo-10: #5472E4;
        --gray-1: #111111;
        --gray-4: #2A2A2A;
        --gray-11: #B4B4B4;
        --gray-12: #EEEEEE;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gray-1);
    color: var(--gray-12);
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-size-adjust: 0.53;
}

a {
    color: var(--indigo-10);
    text-underline-offset: 0.1em;
}

h2 {
    display: flex;
    gap: 16px;
    align-items: center;
}

h2 a {
    font-size: 14px;
    font-weight: normal;
}

h3 {
    font-size: 14px;
    line-height: 24px;
    padding: 4px 16px;
    border-bottom: 1px solid var(--gray-4);
}

nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-4);
    height: 56px;
    padding: 8px 16px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px;
}

section#top {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;

    section {
        height: min-content;
        border: 1px solid var(--gray-4);
        border-radius: 6px;
    }

    #links div {
        padding: 8px 16px;

        p {
            line-height: 24px;
        }
    }
}

section#metrics {
    display: flex;
    flex-direction: column;
    gap: 12px;

    #charts {
        border: 1px solid var(--gray-4);
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 8px;
        gap: 8px;
        justify-items: stretch;

        >div {
            width: 600px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    #charts {
        color: var(--gray-1);

        >div {
            filter: invert(1);
        }
    }
}

input {
  width: 500px;
}
