[package]
name = "glean-core"
version = "0.1.0"
authors = ["Jan-Erik Rediger <jrediger@mozilla.com>"]
description = "A modern Telemetry library"
repository = "https://github.com/mozilla/glean"
readme = "README.md"
license = "MPL-2.0"
edition = "2018"

[dependencies]
serde = { version = "1.0.90", features = ["derive"] }
serde_json = "1.0.39"
rkv = "0.9.4"
bincode = "1.1.3"
log = "0.4.6"
uuid = { version = "0.7.4", features = ["v4"] }
failure = "0.1.5"
ffi-support = "0.3"
regex = "1.1.6"
lazy_static = "1.3.0"
chrono = { version = "0.4.6", features = ["serde"] }

[dev-dependencies]
env_logger = "0.6.1"
tempfile = "3.0.7"
color-backtrace = "0.1.3"
iso8601 = "0.3"
ctor = "0.1.9"
