[package]
name = "glean-core"
version = "50.1.0"
authors = ["Jan-Erik Rediger <jrediger@mozilla.com>", "The Glean Team <glean-team@mozilla.com>"]
description = "A modern Telemetry library"
repository = "https://github.com/mozilla/glean"
readme = "README.md"
license = "MPL-2.0"
edition = "2018"
keywords = ["telemetry"]
include = [
  "/README.md",
  "/LICENSE",
  "/src",
  "/examples",
  "/tests",
  "/Cargo.toml",
  "/uniffi.toml",
  "/build.rs",
]

[package.metadata.glean]
glean-parser = "6.1.1"

[badges]
circle-ci = { repository = "mozilla/glean", branch = "main" }
maintenance = { status = "actively-developed" }

[dependencies]
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.44"
rkv = { version = "0.17.0", default-features = false }
bincode = "1.2.1"
log = "0.4.8"
uuid = { version = "0.8.1", features = ["v4"] }
ffi-support = "0.4.0"
chrono = { version = "0.4.10", features = ["serde"] }
once_cell = "1.4.1"
flate2 = "1.0.19"
zeitstempel = "0.1.0"
crossbeam-channel = "0.5"
thiserror = "1.0.4"
whatsys = "0.1.2"
uniffi = "0.18.0"
uniffi_macros = "0.18.0"
time = "0.1.40"

[target.'cfg(target_os = "android")'.dependencies]
android_logger = { version = "0.10.0", default-features = false }

[target.'cfg(target_os = "ios")'.dependencies]
oslog = { version = "0.1.0", default-features = false, features = ["logger"] }

[target.'cfg(not(target_os = "android"))'.dependencies]
env_logger = { version = "0.8.0", default-features = false, features = ["termcolor", "atty", "humantime"] }

[dev-dependencies]
env_logger = { version = "0.8.0", default-features = false, features = ["termcolor", "atty", "humantime"] }
tempfile = "3.1.0"
iso8601 = "0.4"
ctor = "0.1.12"

[build-dependencies]
uniffi_build = { version = "0.18.0", features = ["builtin-bindgen"] }

[features]
# Enable the "safe-mode" Rust storage backend instead of the default LMDB one.
rkv-safe-mode = []
