[package]
name = "glean-core"
version = "0.1.0"
authors = ["Jan-Erik Rediger <jrediger@mozilla.com>"]
description = "A modern Telemetry library"
repository = "https://github.com/badboy/glean.rs"
readme = "README.md"
license = "MPL-2.0"
edition = "2018"

[dependencies]
lazy_static = "1.3.0"
serde = { version = "1.0.90", features = ["derive"] }
serde_json = "1.0.39"
rkv = "0.9.4"
tempfile = "3.0.7"
color-backtrace = "0.1.3"
bincode = "1.1.3"
log = "0.4.6"
env_logger = "0.6.1"
uuid = { version = "0.7.4", features = ["v4"] }
