[package]
name = "glean-core"
version = "31.4.0"
authors = ["Jan-Erik Rediger <jrediger@mozilla.com>", "The Glean Team <glean-team@mozilla.com>"]
description = "A modern Telemetry library"
repository = "https://github.com/mozilla/glean"
readme = "README.md"
license = "MPL-2.0"
edition = "2018"
keywords = ["telemetry"]
include = [
  "/README.md",
  "/LICENSE",
  "/src",
  "/examples",
  "/tests",
  "/Cargo.toml"
]

[badges]
circle-ci = { repository = "mozilla/glean", branch = "main" }
maintenance = { status = "actively-developed" }

[dependencies]
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.44"
rkv = "0.10.3"
bincode = "1.2.1"
log = "0.4.8"
uuid = { version = "0.8.1", features = ["v4"] }
ffi-support = "0.4.0"
chrono = { version = "0.4.10", features = ["serde"] }
once_cell = "1.2.0"
flate2 = "1.0.12"

[dev-dependencies]
env_logger = { version = "0.7.1", default-features = false, features = ["termcolor", "atty", "humantime"] }
tempfile = "3.1.0"
iso8601 = "0.4"
ctor = "0.1.12"
