[package]
name = "glean-core"
version = "21.0.0-alpha.1"
authors = ["Jan-Erik Rediger <jrediger@mozilla.com>", "The Glean Team <glean-team@mozilla.com>"]
description = "A modern Telemetry library"
repository = "https://github.com/mozilla/glean"
readme = "README.md"
license = "MPL-2.0"
edition = "2018"
keywords = ["telemetry"]
include = [
  "README.md",
  "LICENSE",
  "src/**/*",
  "examples/**/*",
  "tests/**/*",
  "Cargo.toml"
]

[badges]
circle-ci = { repository = "mozilla/glean", branch = "master" }
maintenance = { status = "actively-developed" }

[dependencies]
serde = { version = "1.0.102", features = ["derive"] }
serde_json = "1.0.41"
rkv = "0.10.2"
bincode = "1.1.3"
log = "0.4.6"
uuid = { version = "0.8.1", features = ["v4"] }
failure = "0.1.5"
ffi-support = "0.3.5"
regex = { version = "1.3.0", default-features = false, features = ["std"] }
lazy_static = "1.3.0"
chrono = { version = "0.4.6", features = ["serde"] }
once_cell = "1.0.2"

[dev-dependencies]
env_logger = { version = "0.7.1", default-features = false, features = ["termcolor", "atty", "humantime"] }
tempfile = "3.0.7"
color-backtrace = "0.2.3"
iso8601 = "0.3"
ctor = "0.1.9"
